.container{
    margin: 30px auto;
}
#jobs{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block{
    padding: 20px;
    min-width: 17%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.422);
    height: 10vh;
    cursor: pointer;
    background-color: rgb(242, 242, 242);
}
.cp{
    background-color: chocolate;
    height: 10vh;
    width: 20px;
}
.text{
    width: calc(100%-20px);
}
.block p{
    padding: 0px;
    margin: 0px;
    text-decoration: underline;
    font-weight: bold;
}